<!DOCTYPE html>
<html ng-app="homeswitchhome">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Switch Home</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/sweetalert.css" />
    <script src="~/Scripts/sweetalert.min.js"></script>

    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

    <script type="text/javascript" src="~/Scripts/pignose.calendar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/pignose.calendar.min.css" />

    <script type="text/javascript" src="~/Scripts/nanoScroller.min.js"></script>
    <link rel="stylesheet" href="~/Content/nanoScroller.css">

</head>
<body>
    <nav class="navbar navbar-dark ftco_navbar navbar-expand-md fixed-top" id="ftco-navbar" style="background-color: #2c5fa1; z-index: 4; color: #fff;">

        <div class="container barra">
            <a class="navbar-brand" href="~/">HOME SWITCH HOME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">

                    @{
                     

                        if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">@Html.ActionLink("RESIDENCIAS", "Index", "Propiedad", new { area = "Propiedad" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("SUBASTAS", "Index", "Subasta", new { area = "Subasta" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("HOT SALES", "Index", "Hotsale", new { area = "Hotsale" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("CUENTA", "Index", "Perfil", new { area = "Perfil" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("CERRAR SESION", "CerrarSesion", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                        }
                        else
                        {
                            <li class="nav-item"><a href="#LoginModal" class="nav-link">INICIAR SESION</a></li>
                        }

                    }

                </ul>
            </div>
        </div>
    </nav>
            <div class="body-content">
                @RenderBody()

                <footer>
                    <p class="float-right">
                        <a href="#">Back to top</a>
                    </p>
                    <p>&copy; @DateTime.Now.Year - Home Switch Home</p>
                </footer>
            </div>
        </body>

</html>
