@{
    Layout = null;
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <script type="text/javascript" src="~/Scripts/angular.js"></script>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/Content/sweetalert.css" />
        <script src="~/Scripts/sweetalert.min.js"></script>

        <script type="text/javascript" src="~/Scripts/moment.min.js"></script>

        <script type="text/javascript" src="~/Scripts/pignose.calendar.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/Content/pignose.calendar.min.css" />

    </head>

    <body ng-app="adminsection">
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar" id="ftco-navbar" style="background-color: #2c5fa1; z-index: 4; color: #fff;">

            <div class="container barra">
                <a class="navbar-brand">SECCION DE ADMINISTRADOR</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">@Html.ActionLink("SALIR", "CerrarSesion", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-controller="admincontroller">

            <section class="section-card services-section mt-5 d-flex justify-content-around" id="residencias">
                <div class="col-xl-11 col-md-10">
                    <div class="card table-card">
                        <div class="card-header" style="background-color:#3e4e75 ; color:#ffffff">

                            <div class="row d-flex justify-content-between">
                                <h5>RESIDENCIAS</h5>

                                <ul class="list-unstyled card-option d-flex justify-content-around">
                                    <li class="col">
                                        <button type="button" class="btn btn-success add-nueva-propiedad" style="float:right;" data-toggle="modal" data-target="#addEditPropiedadModal">
                                            <i class="fa fa-fw fas fa-plus"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <div class="input-group" style="align-items: center;">
                                            <input type="text" class="form-control" ng-model="filtroresidencias.Ciudad" placeholder="Ubicación" />
                                            <div class="input-group-append">
                                                <i class="fa fa-fw fas fa-search"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr class="border border-whitestyle" />

                            <div class="input-group-append" style="align-items: center; float:left;">
                                <input ng-model="from_date_reserva" style="width: 220px;" type="text" id="fromreserva" class="calendar form-control" name="fromreserva" />

                                <i class="fa fa-fw fas fa-calendar"></i>
                            </div>

                            <div class="row d-flex flex-row-reverse">

                                <h5>RESERVAS</h5>

                            </div>
                        </div>

                        <div class="d-flex justify-content-around" style="overflow-y: auto; height: 250px;">

                            <table class="table table-sm table-responsive table-borderless col-md-6 mt-2 " style="text-align: left;">
                                <thead>
                                    <tr>
                                        <th style="width: 30%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 30%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">UBICACION</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">ESTADO</th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="propiedad in propiedades | filter:filtroresidencias">

                                        <td>{{propiedad.Nombre}}</td>
                                        <td>{{propiedad.Ciudad}} ({{propiedad.Pais}})</td>
                                        <td>
                                            <div>
                                                <div ng-if="propiedad.Activa">
                                                    <b color:"green">ACTIVA</b>
                                                </div>
                                                <div ng-if="!propiedad.Activa">
                                                    <b color:"red">NO DISPONIBLE</b>
                                                </div>
                                                <button id="{{propiedad.IdPropiedad}}" ng-click="estadopropiedad($event.currentTarget.id)" class="btn btn-group-sm btn-info propiedad-a-borrar m-1"> <i class="fa fa-fw fas fa-exchange"></i></button>
                                            </div>
                                        </td>

                                        <td class="d-flex justify-content-between">
                                            <button id="{{propiedad.IdPropiedad}}" class="btn btn-group-sm btn-primary propiedad-modificar m-1" data-toggle="modal" data-target="#addEditPropiedadModal"><i class="fa fa-fw fas fa-pencil-square-o"></i></button>
                                        </td>

                                        <td class="d-flex justify-content-between">
                                            <button id="{{propiedad.IdPropiedad}}" ng-click="borrarpropiedad($event.currentTarget.id)" class="btn btn-group-sm btn-danger propiedad-a-borrar m-1"> <i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-sm table-responsive table-borderless table-borderless col-md-6 mt-2" style="text-align: left;float:right">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">COMIENZO DE LA SEMANA</th>
                                        <th style="width: 30%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">USUARIO</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">RESIDENCIA</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">CON CREDITO</th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="reserva in reservas">

                                        <td>{{reserva.FechaReserva}}</td>
                                        <td>{{reserva.Cliente.Apellido}}, {{reserva.Cliente.Nombre}}</td>
                                        <td>{{reserva.Propiedad.Nombre}}</td>
                                        <td>
                                            <div ng-if="!reserva.Credito">
                                                <b color:"">HOT SALE</b>
                                            </div>
                                        </td>
                                        <td>
                                            <button id="{{reserva.IdReserva}}" ng-click="cancelarreserva($event.currentTarget.id)" class="btn btn-group-sm btn-danger subasta-a-borrar"> <i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </section>

            <section class="section-card services-section mt-5 d-flex justify-content-around" id="subastas">
                <div class="col-xl-11 col-md-10">
                    <div class="card table-card">
                        <div class="card-header" style="background-color:#3e4e75 ; color:#ffffff">

                            <div class="row d-flex justify-content-between">
                                <h5>NUEVAS SUBASTAS</h5>
                                <ul class="list-unstyled card-option d-flex justify-content-around">

                                    <li class="col"><button type="button" class="btn btn-success add-nueva-subasta" style="float:right;" data-toggle="modal" data-target="#addEditSubastaModal"><i class="fa fa-fw fas fa-plus"></i></button></li>

                                    <li>
                                        <div class="input-group" style="align-items: center;">
                                            <input type="text" class="form-control" ng-model="filtrosubasta.Propiedad.Pais" placeholder="Ubicación" />
                                            <div class="input-group-append">
                                                <i class="fa fa-fw fas fa-search"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr class="border border-whitestyle" />

                            <div class="input-group-append" style="align-items: center;">
                                <input ng-model="from_date" style="width: 300px;" type="text" id="fromsubasta" class="calendar form-control" name="fromsubasta" placeholder="fecha de comienzo de subasta/reserva" />

                                <i class="fa fa-fw fas fa-calendar"></i>
                            </div>

                            <div class="row d-flex flex-row-reverse">
                                <h5>SUBASTAS CERRADAS</h5>

                            </div>
                        </div>

                        <div class="d-flex justify-content-around" style="overflow-y: auto; height: 250px;">

                            <table class="table table-sm table-responsive table-borderless col-md-6 mt-2 " style="text-align: left;">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE (PAIS)</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">VALOR MINIMO</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">FECHA SUBASTA</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">FECHA RESERVA</th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subasta in subastasoff | filter : filtrosubasta">

                                        <td>{{subasta.Propiedad.Nombre}} ({{subasta.Propiedad.Pais}})</td>
                                        <td>{{subasta.ValorMinimo}} USD</td>
                                        <td>{{subasta.FechaComienzo}}</td>
                                        <td>{{subasta.FechaReserva}}</td>
                                        <td>
                                            <button id="{{subasta.IdSubasta}}" class="btn btn-group-sm btn-primary subasta-modificar" data-toggle="modal" data-target="#addEditSubastaModal"><i class="fa fa-fw fas fa-pencil-square-o"></i></button>
                                            <button id="{{subasta.IdSubasta}}" ng-click="borrarsubasta($event.currentTarget.id)" class="btn btn-group-sm btn-danger propiedad-a-borrar"> <i class="fa fa-fw fas fa-remove"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-sm table-responsive table-borderless table-borderless col-md-6 mt-2" style="text-align: left;float:right">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">MAXIMO SUBASTADO</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">CLIENTE</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">RESERVA</th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subasta in subastasfin">

                                        <td>{{subasta.Propiedad.Nombre}}</td>
                                        <td>{{subasta.ValorActual}} USD</td>
                                        <td>{{subasta.Cliente.Apellido}} {{subasta.Cliente.Nombre}}</td>
                                        <td>{{subasta.FechaReserva}}</td>

                                        <td>
                                            <button ng-show="subasta.Cliente.Nombre != null" ng-click="confirmarsubasta($event.currentTarget.id)" id="{{subasta.IdSubasta}}" class="btn btn-group-sm btn-success"><i class="fa fa-fw fas fa-check"></i></button>
                                            <button id="{{subasta.IdSubasta}}" ng-click="rechazarsubasta($event.currentTarget.id)" class="btn btn-group-sm btn-danger subasta-a-borrar"> <i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>

            <section class="section-card services-section mt-5 d-flex justify-content-around" id="hotsales">
                <div class="col-xl-11 col-md-10">
                    <div class="card table-card">
                        <div class="card-header" style="background-color:#3e4e75 ; color:#ffffff">

                            <div class="row d-flex justify-content-between">
                                <h5>HISTORIAL HOT SALES</h5>
                                <ul class="list-unstyled card-option d-flex justify-content-around">

                                    <li class="col"><button type="button" class="btn btn-success add-nueva-subasta" style="float:right;" data-toggle="modal" data-target="#addEditSubastaModal"><i class="fa fa-fw fas fa-plus"></i></button></li>

                                    <li>
                                        <div class="input-group" style="align-items: center;">
                                            <input type="text" class="form-control" ng-model="filtrohotsale.Propiedad.Ciudad" placeholder="Ubicación" />
                                            <div class="input-group-append">
                                                <i class="fa fa-fw fas fa-search"></i>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <hr class="border border-whitestyle" />

                            <div class="input-group-append" style="align-items: center;">
                                <input ng-model="from_date_hotsale" style="width: 300px;" type="text" id="fromhotsale" class="calendar form-control" name="fromhotsale" placeholder="fecha de reserva" />

                                <i class="fa fa-fw fas fa-calendar"></i>
                            </div>

                            <div class="row d-flex flex-row-reverse">
                                <h5>PROXIMOS HOT SALES</h5>

                            </div>
                        </div>

                        <div class="d-flex justify-content-around" style="overflow-y: auto; height: 250px;">

                            <table class="table table-sm table-responsive table-borderless col-md-6 mt-2 " style="text-align: left;">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">UBICACION</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">PRECIO</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">FECHA RESERVA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="hotsale in hotsalehistorico | filter : filtrohotsale">

                                        <td>{{hotsale.Propiedad.Nombre}}</td>
                                        <td>{{hotsale.Propiedad.Ciudad}} ({{hotsale.Propiedad.Pais}})</td>
                                        <td>{{hotsale.Precio}} USD</td>
                                        <td>{{hotsale.FechaDisponible}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-sm table-responsive table-borderless table-borderless col-md-6 mt-2" style="text-align: left;float:right">
                                <thead>
                                    <tr>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">UBICACION</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">PRECIO</th>
                                        <th style="width: 25%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">FECHA</th>
                                        <th style="width: 10%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="futurohotsale in hotsalefuturos">

                                        <td>{{futurohotsale.Propiedad.Nombre}}</td>
                                        <td>{{futurohotsale.Propiedad.Ciudad}} ({{futurohotsale.Propiedad.Pais}})</td>
                                        <td>{{futurohotsale.Precio}} USD</td>
                                        <td>{{futurohotsale.FechaDisponible}}</td>

                                        <td>
                                            <button id="{{futurohotsale.IdHotSale}}" ng-click="modificarhotsale($event.currentTarget.id)" class="btn btn-group-sm btn-success"><i class="fa fa-fw fas fa-check"></i></button>
                                            <button id="{{futurohotsale.IdHotSale}}" ng-click="rechazarhotsale($event.currentTarget.id)" class="btn btn-group-sm btn-danger subasta-a-borrar"> <i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>


            <section class="section-card services-section mt-5 mb-5 d-flex justify-content-around" id="clientes">
                <div class="col-xl-11 col-md-10">
                    <div class="card table-card">
                        <div class="card-header" style="background-color:#3e4e75 ; color:#ffffff">

                            <div class="row d-flex justify-content-between">
                                <h5>SUBSCRIPCIONES USUARIOS</h5>
                            </div>

                            <hr class="border border-whitestyle" />

                            <div class="row d-flex flex-row-reverse">
                                <h5>SUBSCRIPCIONES PREMIUMS</h5>
                            </div>
                        </div>

                        <div class="d-flex justify-content-around" style="overflow-y: auto; height: 250px;">

                            <table class="table table-sm table-responsive table-borderless col-md-6 mt-2 " style="text-align: left;">
                                <thead>
                                    <tr>
                                        <th style="width: 60%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 40%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">APELLIDO</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="nuevo in nuevosclientes">
                                    <tr>
                                        <td>{{nuevo.Nombre}}</td>
                                        <td>{{nuevo.Apellido}}</td>
                                        <td>
                                            <button id="{{nuevo.IdCliente}}" ng-click="aceptarnuevousuario($event.currentTarget.id)" class="btn btn-group-sm btn-success"><i class="fa fa-fw fas fa-check"></i></button>
                                            <button id="{{nuevo.IdCliente}}" ng-click="rechazarnuevousuario($event.currentTarget.id)" class="btn btn-group-sm btn-danger"><i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-sm table-responsive table-borderless table-borderless col-md-6 mt-2" style="text-align: left;float:right">
                                <thead>
                                    <tr>
                                        <th style="width: 50%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">NOMBRE</th>
                                        <th style="width: 40%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col">APELLIDO</th>
                                        <th style="width: 20%; position: sticky; top: 0; background:#2c5fa1; color:white" scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody ng-repeat="premium in parapremiums">
                                    <tr>
                                        <td>{{premium.Nombre}}</td>
                                        <td>{{premium.Apellido}}</td>
                                        <td>
                                            <button id="{{premium.IdCliente}}" ng-click="confirmarpremium($event.currentTarget.id)" class="btn btn-group-sm btn-success"><i class="fa fa-fw fas fa-check"></i></button>
                                            <button id="{{premium.IdCliente}}" ng-click="rechazarpremium($event.currentTarget.id)" class="btn btn-group-sm btn-danger"><i class="fa fa-fw fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </section>

            <div class="modal fade" id="addEditPropiedadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                @Html.Partial("_AgregarEditarPropiedad")
            </div>

            <div class="modal fade" id="addEditSubastaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                @Html.Partial("_AgregarEditarSubasta")
            </div>

        </div>
        <script src="~/Scripts/app/Admin_AngularJS.js"></script>
        <script src="~/Scripts/app/AdminSeccion.js"></script>
    </body>